@import url('https://fonts.googleapis.com/css2?family=Source+Serif+Pro:ital,wght@0,300;0,900;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    z-index: 3;
    font-family: 'Source Serif Pro', serif;
}

body {
    min-height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

body:after {
content: "";
position: absolute;
height: 100%;
width: 100%;
top: 0;
left: 0;
background: rgba(0,0,0,0.3);
z-index: 1 !important;
}

.grid-container {
    z-index: 2;
    backdrop-filter: blur(4px);
    width: 90%;
    margin-top: 2rem;
    padding: 1rem;
    display: grid;
    grid-template-rows: auto;
    gap: 1.75rem;
    color: white;
    grid-template-columns: repeat(2, minmax(200px,1fr));
    box-shadow:  inset 1px 1px 10px white;
    border-radius: 5px;
}

.photo {
    height: 150px;
    max-width: 250px;
    width: 100%;
    border: 2px solid lightgrey;
    border-radius: 5px;
    box-shadow: 2px 5px 20px black;
}

.menu-item {
    display: flex;
}

.item-info {
padding-left:1rem;
}

header {
    display: flex;
    justify-content: space-between;
}

hr {
    height: 2px;
    background-color: lightgreen;
    border: none;
    border-radius: 5px;
}

.description {
    padding-top: 1.25rem;
}

.item-info h4 {
    font-weight: 1100;
    font-size: 1.5rem;
}

#title {
    font-size: 2rem;
    color: white;
}

