@import url("https://fonts.googleapis.com/css2?family=Source+Serif+Pro:ital,wght@0,300;0,900;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  z-index: 3;
  font-family: 'Source Serif Pro', serif;
}

body {
  min-height: 100vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}

.video {
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: -1;
  -o-object-fit: cover;
     object-fit: cover;
}

body:after {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1 !important;
}

.grid-container {
  z-index: 2;
  -webkit-backdrop-filter: brightness(30%);
          backdrop-filter: brightness(30%);
  width: 90%;
  margin-top: 2rem;
  padding: 1rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  gap: 1.75rem;
  color: white;
  -ms-grid-columns: (minmax(200px, 1fr))[2];
      grid-template-columns: repeat(2, minmax(200px, 1fr));
  -webkit-box-shadow: inset 1px 1px 10px white, 3px 3px 10px black;
          box-shadow: inset 1px 1px 10px white, 3px 3px 10px black;
  border-radius: 5px;
  -webkit-animation: appear 1s ease-in;
          animation: appear 1s ease-in;
}

/* Text animation */
/* Appear animation */
@-webkit-keyframes appear {
  from {
    opacity: 0;
    -webkit-transform: scale(0.85);
            transform: scale(0.85);
  }
  to {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@keyframes appear {
  from {
    opacity: 0;
    -webkit-transform: scale(0.85);
            transform: scale(0.85);
  }
  to {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.photo {
  height: 150px;
  max-width: 200px;
  width: 100%;
  border: 5px solid white;
  border-radius: 5px;
  -webkit-box-shadow: 2px 5px 20px black;
          box-shadow: 2px 5px 20px black;
}

.menu-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.item-info {
  padding-left: 1rem;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

hr {
  height: 2px;
  background-color: lightgreen;
  border: none;
  border-radius: 5px;
}

.description {
  padding-top: 1.25rem;
}

.item-info h4 {
  font-weight: 1100;
  font-size: 1.45rem;
}

#title {
  font-size: 2.25rem;
  color: white;
  -webkit-animation: appear 1s ease-in;
          animation: appear 1s ease-in;
}

.filter-btn {
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  font-weight: 700;
  margin: 5px;
  -webkit-box-shadow: 0px 2px black;
          box-shadow: 0px 2px black;
  cursor: pointer;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.filter-btn:hover {
  background-color: black;
  color: white;
}

@media screen and (max-width: 1122px) {
  .grid-container {
    z-index: 2;
    -webkit-backdrop-filter: brightness(30%);
            backdrop-filter: brightness(30%);
    width: 60%;
    margin-top: 2rem;
    padding: 1rem;
    display: -ms-grid;
    display: grid;
    gap: 1.75rem;
    color: white;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    justify-items: center;
    -webkit-box-shadow: inset 1px 1px 10px white, 3px 3px 10px black;
            box-shadow: inset 1px 1px 10px white, 3px 3px 10px black;
    border-radius: 5px;
    -webkit-animation: appear 1s ease-in;
            animation: appear 1s ease-in;
  }
  .menu-item {
    width: 100%;
  }
  header {
    width: 100%;
  }
}

@media screen and (max-width: 866px) {
  .photo {
    height: 100%;
    max-width: 100px;
    width: 100%;
    border: 5px solid white;
    border-radius: 5px;
    -webkit-box-shadow: 2px 5px 20px black;
            box-shadow: 2px 5px 20px black;
  }
  .grid-container {
    width: 80%;
  }
  .description {
    padding-top: 0.75rem;
  }
}

@media screen and (max-width: 509px) {
  .description {
    padding-top: 1.25rem;
    font-size: 0.75rem;
  }
  .item-info h4 {
    font-weight: 1100;
    font-size: 1rem;
  }
  .menu-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .photo {
    height: 100%;
    max-width: 100%;
    width: 100%;
    border: 5px solid white;
    border-radius: 5px;
    -webkit-box-shadow: 2px 5px 20px black;
            box-shadow: 2px 5px 20px black;
  }
  .item-info {
    padding: 1rem;
  }
}
/*# sourceMappingURL=index.css.map */